# general
.DS_Store
*/.DS_Store
build/*
dist/*
*.swp
*.swo

# python
*.pyc
*egg-info
*.py[cod]
__pycache__/

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints

# IDE
.idea
.vscode
.vim

# personal 
spiketag_test_data/*

# tmux
*.log

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
